@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-user-drag: none;
}

@media screen and (min-width: 320px) and (max-width: 842px) {
  .section--zero {
    display: none !important;
  }
  .section--one {
    display: block !important;
  }
}

@media screen and (max-width: 586px) {
  .section--zero {
    display: none !important;
  }
  .section--one {
    display: none !important;
  }
}

html::-webkit-scrollbar {
  width: 8px;
}

html::-webkit-scrollbar-track {
  background: #f3f4f7;
}

html::-webkit-scrollbar-thumb {
  background-color: #6576ff;
  border-radius: 6px;
}

.miru--modal__raspberry {
  color: #fff;
  display: none;
  width: 100%;
}

.miru--modal__raspberry h1 {
  text-transform: capitalize;
  margin-bottom: 4rem;
}

.miru--modal__raspberry .wrap--node {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

@-webkit-keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.miru--modal__raspberry .wrap--node .node {
  -ms-grid-column-align: center;
      justify-self: center;
}

.miru--modal__raspberry .wrap--node .node .label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-transform: uppercase;
  max-width: 300px;
}

.miru--modal__raspberry .wrap--node .node .label .state {
  position: relative;
}

.miru--modal__raspberry .wrap--node .node.connected > .label > .state::before {
  position: absolute;
  content: "";
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #38ff38;
  left: -1.65rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-animation: blink 1s infinite linear;
          animation: blink 1s infinite linear;
}

.miru--modal__raspberry .wrap--node .node .box--image {
  max-width: 300px;
}

.miru--modal__raspberry .wrap--node .node .box--image > img {
  width: 100%;
}

.miru--checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.miru--checkbox .behavior {
  width: 100px;
  height: 50px;
  position: relative;
}

.miru--checkbox .behavior::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 8px;
  background-color: #dbdbdb;
  border-radius: 4px;
  -webkit-transition: background-color 200ms ease-in-out;
  transition: background-color 200ms ease-in-out;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.miru--checkbox .behavior::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  background: #fff -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(0, 0, 0, 0.05)));
  background: #fff linear-gradient(transparent, rgba(0, 0, 0, 0.05));
  -webkit-box-shadow: 0 1px 2px 0 rgba(34, 36, 38, 0.15), 0 0 0 1px rgba(34, 36, 38, 0.15) inset;
          box-shadow: 0 1px 2px 0 rgba(34, 36, 38, 0.15), 0 0 0 1px rgba(34, 36, 38, 0.15) inset;
  border-radius: 50%;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  -webkit-transition: -webkit-transform 200ms ease-in-out;
  transition: -webkit-transform 200ms ease-in-out;
  transition: transform 200ms ease-in-out;
  transition: transform 200ms ease-in-out, -webkit-transform 200ms ease-in-out;
  z-index: 1;
}

.miru--checkbox .behavior.active::after {
  background-color: #6576ff;
}

.miru--checkbox .behavior.active::before {
  top: 50%;
  -webkit-transform: translate(100%, -50%);
          transform: translate(100%, -50%);
}

.miru--checkbox .label {
  margin-left: 2rem !important;
}

.container {
  background-color: #f3f4f7;
  padding: 0 2rem;
}

.container header {
  height: 6rem;
  max-height: 6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container header .state {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.container header .state svg {
  width: 3rem;
}

.container header .state span {
  margin-left: 1rem;
  font-size: 2rem;
  text-transform: capitalize;
}

.container header .logo {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container header .logo--image {
  height: 80%;
}

.container header .logo--name {
  text-transform: uppercase;
  margin-left: 1rem;
  font-size: 2rem;
}

.container header .logo--name.section--zero {
  display: block;
}

.container header .logo--name.section--one {
  display: none;
}

section {
  margin-top: 2rem;
}

section .title--sensor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1rem 0;
}

section .title--sensor span {
  text-transform: capitalize;
  font-weight: 500;
  font-style: italic;
  font-size: 2rem;
}

section .title--sensor svg {
  width: 2rem;
}

section .sensor__nav {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(400px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  grid-gap: 1rem;
}

section .sensor__nav .sensor__nav {
  border: 4px solid #000;
  border-radius: 0.8rem;
  -webkit-transition: -webkit-box-shadow 200ms ease-in-out, -webkit-transform 200ms ease-in-out;
  transition: -webkit-box-shadow 200ms ease-in-out, -webkit-transform 200ms ease-in-out;
  transition: box-shadow 200ms ease-in-out, transform 200ms ease-in-out;
  transition: box-shadow 200ms ease-in-out, transform 200ms ease-in-out, -webkit-box-shadow 200ms ease-in-out, -webkit-transform 200ms ease-in-out;
  -webkit-box-shadow: 0 0 0 #000;
          box-shadow: 0 0 0 #000;
  padding: 0.5rem 1rem;
  display: inline-block;
  min-width: 400px;
}

section .sensor__nav .sensor__nav:hover {
  -webkit-box-shadow: 3px 3px 0 0 #000;
          box-shadow: 3px 3px 0 0 #000;
  -webkit-transform: translate(-2px, -2px);
          transform: translate(-2px, -2px);
}

section .sensor__nav .sensor__nav h4 {
  margin: 0.4rem 0;
  text-transform: capitalize;
  font-weight: 600;
  font-size: 1.6rem;
  padding-bottom: 0.5rem;
  border-bottom: 2px solid #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

section .sensor__nav .sensor__nav h4 .state {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section .sensor__nav .sensor__nav h4 .state.connected::before {
  position: absolute;
  content: "";
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #38ff38;
  left: -1.65rem;
}

section .sensor__nav .sensor__nav--item {
  cursor: pointer;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

section .sensor__nav .sensor__nav--item .nav--center {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section .sensor__nav .sensor__nav--item .nav--center--val {
  display: inline-block;
}

section .sensor__nav .sensor__nav--item.temp svg {
  fill: #ff656e;
}

section .sensor__nav .sensor__nav--item.humi svg {
  fill: #6576ff;
}

section .sensor__nav .sensor__nav--item svg {
  width: 10rem;
}

section .sensor__nav .sensor__nav--item span {
  display: inline-block;
  margin-left: 0.7rem;
  font-size: 4.6rem;
  font-weight: 600;
  line-height: 1;
  text-transform: capitalize;
}

section .sensor__nav .sensor__nav--rgb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

section .sensor__nav .sensor__nav--rgb--val {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

section .sensor__nav .sensor__nav--rgb--val--shape {
  display: block;
  width: 6rem;
  height: 6rem;
  background-color: #38ff38;
  -webkit-box-shadow: 0 0 16px #38ff38;
          box-shadow: 0 0 16px #38ff38;
  border-radius: 50%;
}

section .sensor__nav .sensor__nav--rgb--val--edit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 0.8rem;
  position: relative;
}

section .sensor__nav .sensor__nav--rgb--val--edit::before {
  width: 2px;
  height: 100%;
  content: "";
  position: absolute;
  background-color: #000;
  right: 0;
  opacity: 0;
  -webkit-transform: translateX(5px);
          transform: translateX(5px);
  -webkit-transition: height 200ms ease-in-out, opacity 200ms ease-in-out, -webkit-transform 200ms ease-in-out;
  transition: height 200ms ease-in-out, opacity 200ms ease-in-out, -webkit-transform 200ms ease-in-out;
  transition: height 200ms ease-in-out, opacity 200ms ease-in-out, transform 200ms ease-in-out;
  transition: height 200ms ease-in-out, opacity 200ms ease-in-out, transform 200ms ease-in-out, -webkit-transform 200ms ease-in-out;
}

section .sensor__nav .sensor__nav--rgb--val--edit:hover::before {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

section .sensor__nav .sensor__nav--rgb--val--edit span {
  font-size: 1rem;
  margin-bottom: 0.8rem;
}

section .sensor__nav .sensor__nav--rgb--val--edit svg {
  width: 1.6rem;
}
/*# sourceMappingURL=styles.css.map */